*{
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
}

button{
    background-color: rgb(150, 45, 152);
    color: #000;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

.popup{
    background-color: #fff;
    width: 500px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-300%);
    transition: all 0.5s linear;
}

.popup.active{
    transform: translateX(0%);
}

.popup button{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    padding: 1.5rem;
    color: #000;
    font-size: 18px;
}